.navLink {
  position: relative;
  font-family: var(--font-pixel);
  font-size: theme('fontSize.lg');
  transition: all 500ms;
  display: flex;
  transform: translateX(-22px);
  color: theme('colors.blue2');
}

.navLink :hover {
  color: theme('colors.blue1');
}

.navLink :visited {
  color: theme('colors.blue2');
}

.navLink ::after {
  transition: all 350ms ease-in;
}

.navLinkArrow {
  transition: all 500ms;
  opacity: 0;
  position: relative;
  left: -11px;
  margin-right: 11px;
}

.navLink:hover .navLinkArrow {
  display: inline-block;
  opacity: 1;
  transform: translateX(11px);
}

.navLink .active,
.navLink:hover {
  /* color: theme('colors.blue2'); */
  transform: translateX(0);
}

.navLink.white {
    color: theme('colors.white');
}