.navLink {
  position: relative;
  font-family: var(--font-pixel);
  font-size: theme('fontSize.lg');
  transition: all 500ms;
  display: flex;
  color: theme('colors.blue2');
}

.navLink :hover {
  color: theme('colors.blue1');
}

.navLink :visited {
  color: theme('colors.blue2');
}

.navLink ::after {
  transition: all 350ms ease-in;
}

.navLink .active,
.navLink:hover {
  /* color: theme('colors.blue2'); */
  transform: translateX(0);
}

.navLink.white {
  color: theme('colors.white');
}
